[2017-03-09 22:17] crleblanc opened #3 "Implement the dataselect handler"
Implement the dataselect handler as per the FDSN 1.1 spec: http://www.fdsn.org/webservices/FDSN-WS-Specifications-1.1.pdf

I've been working on this for a couple weeks now.  It's been going pretty well once I got over some hurdles.  This issue is a place for me to keep track of these.

[2017-03-30 23:06] nbalfour opened #5 "Test the FDSN event service"
As the product owner
I would like to have a select set of users test the complete FDSN event service before it goes to service.geonet.org.nz
So that I can be confident that it will not greatly impact the delivery of existing FDSN services

Acceptance Criteria:
- [x] there is a beta-service.geonet.org.nz set up
- [x] it provides access to the new event service

*remove acceptance criteria:  "it pro

[2017-03-31 01:08] nbalfour opened #6 "Validate output of station FDSN"
As a developer
I want to check that the webservice is returning the correct output
So I know I am on the right track

Acceptance criteria:
- [ ] Provide examples of FDSN station queries and expected output

[2017-03-31 01:17] nbalfour opened #7 "Test reliability of FDSN dataselect service"
As a tester
I want to run appropriate tests of the dataselect service
So that I can make sure the service is fulfilling the requirements of our end users

Acceptance criteria:
- [ ] collate problematic fdsn queries to use as tests
- [x] run queries on the new fsdn data select service
- [x] queries return meaningful error instead of handing if they fail

[2017-04-23 20:45] gclitheroe opened #10 "Definition of gap needed"
Counting gaps in a miniSEED should be pretty straight forwards.  However, I need a definition of what to count i.e., what is a gap?

Can discuss further.

[2017-04-23 23:17] gclitheroe opened #11 "data select service limits"
Are there any "sensible" service limits for the data select service? For example - max request size of 24 hours or something like that?

@quiffman may have some insight about current FDSN usage patterns.

It seems to me that if users really want a lot of data we should ask them to get in touch and encourage them to use an S3 client.

[2017-04-23 23:26] gclitheroe opened #12 "Handle deletes from S3 for holdings?"
If a miniSEED file is added to S3 we will use a bucket put notification to trigger indexing the miniSEED into the holdings.

Currently a delete from S3 will not delete the holdings entry.  This can be done manually with a DELETE to /holdings/...key...

Does this need automating?   Will there be deletes from S3?

[2017-04-30 21:17] #12 closed, assigned to gclitheroe

[2017-04-30 22:02] gclitheroe opened #17 "holdings consumer"
Move the holdings consumer http enpoints from fdsn-ws into their own consumer application.
Want fdsn-ws to be r/o for scalability and security.

[2017-04-30 22:33] gclitheroe opened #18 "quake consumer"
Move the quake consumer http enpoints from fdsn-ws into their own consumer application.
Want fdsn-ws to be r/o for scalability and security.

[2017-05-04 21:36] #17 closed, assigned to gclitheroe

[2017-05-07 22:38] #18 closed, assigned to gclitheroe

[2017-05-07 22:42] gclitheroe opened #24 "Deploys"
Need to redeploy (with config, role,  and name changes):

- [x] fdsn-holdings-consumer
- [x] fdsn-quake-consumer
- [x] fdsn-ws

Need to clean up ecr, logs, and roles:

- [x] fdsn-s3-consumer

[2017-05-08 01:53] #11 closed, assigned to quiffman, nbalfour

[2017-05-08 23:25] gclitheroe opened #25 "Service limits and HTTP errors. Documentation?"
I've been trying to find an answer as to how FDSN handles preparing large requests _and_ sending valid HTTP/1.1 responses to the client.  IRIS seem to not bother - they send a 200 response but preparing and sending the response can still fail.  There would be no indication to the client that a request failed.  Basically a weakness of the FDSN spec and how it uses HTTP/1.1

We have the same problem

[2017-05-09 03:03] gclitheroe opened #26 "Code complexity after use of tmp file removed"
The dataselect code had to do a lot of work to be performant.  Now we use a holdings db and stream the response to the client there is code that can be simplified.

Needs performance testing

[2017-05-12 00:23] gclitheroe opened #30 "dataselect query params"
reject queries with empty values for network, station, location, and channel parameters.

[2017-05-12 00:24] #3 closed, assigned to nobody

[2017-05-12 00:25] #26 closed, assigned to gclitheroe

[2017-05-12 00:26] gclitheroe opened #31 "Implement the station service"
Implement the station service.  Use a station.xml file as the data source.

[2017-05-12 00:37] #24 closed, assigned to gclitheroe

[2017-05-24 03:18] gclitheroe opened #34 "StationXML process"
I've deployed the version of FDSN ws that includes the station service.

- This uses a station.xml file for it's input.
- I generated the file we're using from https://github.com/GeoNet/delta/tree/master/tools/stationxml
- I've put it in s3://api.geonet.org.nz/station.xml

This is temporary and needs moving and automating as the delta and archive process shakes out.

[2017-05-24 03:28] #31 closed, assigned to junghao

[2017-05-25 03:01] nbalfour opened #35 "Problems with FDSN station service in obspy"
I have been playing with the station service and queries are broken in obspy, but not in the URL, but they return different things with the URL, but that is not surprising. Anyway, it summary I can't break the URL but obspy is broken. I am happy to come and sit with you to look over things to see if it's anything I can help with.

URL query http://service.geonet.org.nz/fdsnws/station/1/query?stati

[2017-05-25 04:06] gclitheroe opened #36 "optional format parameter for station service"
Hi Howard,

obspy (a common FDSN client) always adds `&format=xml` to the station query URL e.g.,

[code]

The format parameter is optional to implement for the spec and the default format is xml (so your implementation is correct).  Please could you allow `format=xml` as an optional parameter and return a 401 for `format=text`?  This will let obspy work (then Nat can do more testing and a demo).

[2017-05-28 22:18] #36 closed, assigned to nbalfour, junghao

[2017-05-28 23:47] #30 closed, assigned to junghao

[2017-05-30 00:22] gclitheroe opened #40 "Testing strategy"
Need to look at the testing strategy so that we can run the tests on PR.

[2017-05-30 00:23] gclitheroe opened #41 "Change to use kit instead of collect"

[2017-05-30 06:06] gclitheroe opened #42 "includeavailability parameter for station service."
Swarm sends the (optional) includeavailability parameter to the station service.  This causes it to error (we don't support it).

It's another one where false is the default anyway (so why send the parameter).

[code]

Need to strip or ignore these optional parameters that we don't support somehow.

[2017-05-31 05:23] #40 closed, assigned to gclitheroe

[2017-05-31 05:23] #42 closed, assigned to gclitheroe

[2017-05-31 06:08] gclitheroe commented on #41
done

[2017-05-31 06:08] #41 closed

[2017-05-31 22:08] #35 closed

[2017-05-31 22:55] gclitheroe opened #45 "Error with Swarm requesting station config"
I've tried the station service with Swarm.  I get the following error - so this is a client sending a request (we can't change it) is it sending a valid starttime?  We should try to make this work on the server side.

[code]

[2017-05-31 23:10] junghao commented on #45
Yes according to the specification it's valid. I'll fix it.

[2017-06-01 02:16] #45 closed

[2017-06-01 04:13] gclitheroe opened #47 "Time handling for station service - tests needed"
We're making progress - the time parsing from swarm now works but I think the result set might not be correct.

If I query

[code]

I get no stations - I expect to get all the stations that are open "now".

If I query

[code]

I get a small set of stations.  Is the query currently returning stations that change from closed to open instead of stations that are open at the time (but maybe opened ear

[2017-06-01 06:23] nbalfour commented on #47
I've just done a bit more investigating.

The site WTMC opened 2005-11-15 according to Delta and has been open ever since.

If I query
`http://beta-service.geonet.org.nz/fdsnws/station/1/query?station=WTMC&starttime=2005-01-01T00:00:00`

It returns the site information

If I query
`http://beta-service.geonet.org.nz/fdsnws/station/1/query?station=WTMC&starttime=2015-01-01T00:00:00`

I get nothing,

[2017-06-02 10:39] gclitheroe commented on #47
I've merged PR49.  It might fix this and it will let the users test it out.

I've reopened this as it would be ideal if we could come up with some tests to prove this is working.  This will involve coming up with some input and the expected output for that input.  It's pretty complicated and will need some help.

[2017-06-03 00:37] nbalfour opened #50 "Add more optional parameters to station service"
This is probably not MVP but I can image some users will want this feature added:

As a seismologist, I want to search for all stations within a defined distance range from an earthquake, so I know what stations to request data from.

- [ ] Add area circle search using optional parameters: latitude, longitude, minradius, maxradius to fdsn station service

[2017-06-03 00:58] nbalfour opened #51 "Add more optional parameters to the event service"
This is probably not MVP but I can image some users will want this feature added:

As a seismologist, I want to search for all earthquakes within a defined distance range from an station, so I know what earthquakes to request data for.

- [x] Add area circle search using optional parameters: latitude, longitude, minradius, maxradius to fdsn event service

[2017-06-03 03:47] nbalfour commented on #47
@gclitheroe, by input do you mean the source StationXML or the query or both?

[2017-06-05 19:31] rumachan commented on #47
Initial check using swarm suggests time handling is okay. I can see a list of all available channels, select one and swarm starts to plot those data as a drumplot.
There seems to be some issues related to using swarm with FDSN. I'll document those later, once I've done some more testing.

[2017-06-05 21:00] gclitheroe commented on #47
@nbalfour - yes some input station XML files that we know the expected result for would be ideal.

[2017-06-05 21:02] gclitheroe commented on #47
@rumachan would you be able to try swarm using the IRIS FDSN WS?  http://service.iris.edu/fdsnws/

I had a quick go and it didn't seem to work very well for me.

[2017-06-05 23:11] rumachan commented on #47
@gclitheroe once I selected the correct network with IRIS (used NZ) it works fine. A day of URZ HHZ data loads in about 45 sec. And interaction with those data is quick. The same data fed from our Winston loads in ~2 sec, because it has pre-decimated data available.

Response with our beta FDSN seems varied. At home, this morning, I got many error messages about not being able to get data, or slow

[2017-06-05 23:31] rumachan commented on #47
@gclitheroe Have tried Swiss and Southern California stations using FDSN into swarm - acceptably fast for current data, 10-15 sec to load a day, getting HHZ.

[2017-06-05 23:50] rumachan commented on #47
And using ObsPy I can load the same data from both service and beta-service in ~2 secs. These are the data swarm is hanging on.

[2017-06-06 02:19] gclitheroe commented on #51
to deploy

[2017-06-06 04:07] mabznz commented on #47
After talking with @gclitheroe it could be good to replace the data source for beta with the present production data.
That would be:

`curl -s "http://service.geonet.org.nz/fdsnws/station/1/query" | xmllint --format - > prod_station.xml`

If that could be used for beta instead of the stationxml that is manually generated out of the new Delta system, then we are testing the code and not the  data w

[2017-06-08 01:41] iceseismic opened #56 "get_station bombs out on response request"
Using beta-service,

inventory = client.get_stations(station="ALRZ", level="channel")  works fine,
but
inventory = client.get_stations(station="ALRZ", level="response")   completely bombs out with problems with paz

[2017-06-08 02:02] mabznz commented on #56
Ahhh, I've just written that up at:

https://wiki.geonet.org.nz/display/~b.mabbett/Beta+FDSN+Station+Web+Service+Problem+Defintion#BetaFDSNStationWebServiceProblemDefintion-EmptyPolesZerosentitycausesbuginObspy

It's a problem with empty Entities being produced by beta service I believe. First appears for empty PolesZero entity but could be larger problem.

[2017-06-08 02:36] nbalfour commented on #56
To summarise, it appears that the FDSN station webservice is adding empty elements for poles and zeros when they don't exist in the source stationXML.
Need to only add elements if they exist.
@junghao can you follow up on this, you can talk to @mabznz if you have questions.

[2017-06-09 01:45] nbalfour commented on #5
I've been testing this out using both the URL and obspy

The URL seems to be working ok and returns 29 events using the query...

`http://beta-service.geonet.org.nz/fdsnws/event/1/query?minmagnitude=5&starttime=2016-11-13T11:05:00&endtime=2016-11-20T11:05:00&latitude=-42.69&longitude=173.02&maxradius=1`

But the query with obspy:

[code]

Gets the following error:
`TypeError: The parameter 'maxrad

[2017-06-09 02:20] rumachan commented on #5
You had a typo on 'longtitude', when I correct that I get a similar, but not exactly the same, error
TypeError: The parameter 'longitude' is not supported by the service.

If I use 'IRIS' as the client then it works, so ObsPy is happy with this, as you thought.

[2017-06-09 02:24] nbalfour commented on #5
Sorry, that was a typo but the issue still holds and I still get the same error.

`cat = client.get_events(starttime=starttime, endtime=endtime, minmagnitude=5, longitude=173.02, latitude=-42.69, maxradius=1)`

gives me this (full python error is included this time):
[code]

[2017-06-09 03:05] rumachan commented on #5
You are using anaconda3, I'm using my local python (2.7). We have the same issue, except mine picks up on the longitude parameter and your's the maxradius. Query is exactly the same. I am using ObsPy 1.0.3
What other query options are available on beta-service?

[2017-06-09 03:46] nbalfour commented on #5
@rumachan, are you asking specifically about the event service on beta?

[2017-06-09 04:04] nbalfour commented on #5
@rumachan
I believe this is what is **not** included so far for the event service:
- [ ] include arrivals
- [ ] include all origins
- [ ] magnitude type
- [ ] include all magnitudes
- [ ] limit
- [ ] offset
- [ ] catalog
- [ ] contributor
- [ ] updatedafter
- [ ] nodata

For MVP we were focusing on required parameters but some of these might be required by our end users. Please let me know if ther

[2017-06-12 23:22] gclitheroe commented on #56
should be fixed and deployed

[2017-06-13 02:15] nbalfour commented on #51
@mabznz can you please test this new option for the radius search?

[2017-06-13 02:18] nbalfour commented on #51
@mabznz, this is where I got but I put it in the wrong issue

've been testing this out using both the URL and obspy

The URL seems to be working ok and returns 29 events using the query...

http://beta-service.geonet.org.nz/fdsnws/event/1/query?minmagnitude=5&starttime=2016-11-13T11:05:00&endtime=2016-11-20T11:05:00&latitude=-42.69&longitude=173.02&maxradius=1

But the query with obspy:

client =

[2017-06-13 02:20] nbalfour commented on #56
@mabznz, can you please test this to confirm the issue is resolved? Thanks

[2017-06-14 22:40] mabznz commented on #56
Can confirm this was an issue with obspy for both python 2 and 3 but is now fixed with change.

[code]

[code]

[2017-06-14 22:40] #56 closed

[2017-06-15 00:11] mabznz commented on #51
After checking the python code it was the discovery of the event services parameters it was doing against the wadl that was the problem. Any client doing that would get an issue.

The event wadl at http://beta-service.geonet.org.nz/fdsnws/event/1/application.wadl is not the right one.

[2017-06-15 04:15] mabznz commented on #6
@nbalfour @nbalfour @junghao

Have given this an attempt to provide data for testing queries and outputs. Let us know if this is valuable for your CI tests and I will do some more for testing data output.

See https://wiki.geonet.org.nz/display/~b.mabbett/Beta+FDSN+Station+Web+Service#BetaFDSNStationWebService-ValidateoutputofstationFDSN

In longer term it maybe that we have an API/Web Service tes

[2017-06-15 05:30] gclitheroe commented on #51
@junghao - it sounds like the maxradius parameter needs adding to the wadl?

[2017-06-15 23:26] gclitheroe commented on #51
Howard has updated the wadl for the event service and this is now deployed.  Please could you give this a test?

[2017-06-18 23:23] nbalfour opened #62 "Station response issues"
This is an issue that I haven't had time to get my head around but I will provide as much information about the problem that I can.

Firstly, where I used python I used python3.

My first test was to attach the response metadata to the waveform data I collected try to remove  the response.
[code]
This is the error it returned:
[code]
This sort of makes sense in that when I do the same request usin

[2017-06-18 23:35] mabznz commented on #51
Have tested and the optional parameters min/max radius have been added to wadl so the original query works through obspy.

However their are still some optional parameters that are allowed by present event service
http://service.geonet.org.nz/fdsnws/event/1/application.wadl
that are not explicitly allowed by new event service
http://beta-service.geonet.org.nz/fdsnws/event/1/application.wadl

eg:
i

[2017-06-18 23:59] ozym commented on #62
As far as I can tell it should be there, via the station.xml file in the api bucket. Here's the last response chunk for `HNZ`.

[code]

[2017-06-19 01:12] nbalfour commented on #51
@mabznz, we don't provide any event service for service.geonet.org.nz so the documentation should probably not even exist

[2017-06-19 01:13] nbalfour commented on #62
@ozym please compare this against the output from service.geonet.org.nz. They are quite different

[2017-06-19 01:23] junghao commented on #62
I've tested the service with a station xml file in my computer (copied on 02/Jun)  and it does return stages.

[2017-06-19 01:31] junghao commented on #51
I can add includeallorigins, includeallmagnitudes, and includearrivals to wadl so obspy wouldn't crash. However, you'll get bad request error if you sent a query with those parameter set true.
Is that ok with you?

[2017-06-19 02:24] ozym commented on #62
@nbalfour here's the output from the old system (c.f. the input above) and see far below for beta.

[code]

However, here's the output of the currently running beta which appears to be missing the response stages.

[code]

[2017-06-19 02:25] mabznz commented on #62
That station XML is fine but its whatever the obspy 'get_waveforms()' call gets from the FDSN service, Presume it a dataselect query returning miniSEED? Not knowing a lot, does that miniSEED data have the channel/station data imbedded in it in beta?

[code]

With present production you get:

`Channel Response
	From M/S**2 () to COUNTS ()
	Overall Sensitivity: 101972 defined at 1.000 Hz
	4 stages:

[2017-06-19 02:53] mabznz commented on #62
Yep, sorry, ignore my last comment. Was looking at wrong channel in station xml. Some channels have stages some don't.

[2017-06-19 04:28] mabznz commented on #47
@junghao
Ok have my test sorted with known input and output. There is an issue in channels being returned when specifying times. This may the problem with Stage elements not appearing. Here start time is specified so only one channel element (the current one) should be returned.

http://service.geonet.org.nz/fdsnws/station/1/query?station=ARHZ&channel=EHE&location=10&starttime=2012-01-20T22:30:01&

[2017-06-19 23:48] mabznz commented on #51
@nbalfour @junghao have tested the parameters as listed as available in the WADL at http://beta-service.geonet.org.nz/fdsnws/event/1/application.wadl

Could only see two minor issues:

1. orderby parameter works for time-asc, but not magnitide-asc
2. format=text does not response as text even though its listed in WADL. Option needs removing.

Otherwise all good for all optional parameters.  From t

[2017-06-22 05:04] gclitheroe commented on #47
fix  from @junghao has been deployed

[2017-06-27 02:34] mabznz commented on #47
This fixed the multiple channels returned issue. Now this just returns just the one channel as expected.

http://beta-service.geonet.org.nz/fdsnws/station/1/query?station=ARHZ&channel=EHE&location=10&starttime=2012-01-20T22:30:01&level=response

Still and issue around #62

[2017-06-27 02:34] #47 closed

[2017-06-27 02:44] mabznz commented on #62
@junghao @gclitheroe

This may be just because stationXML in beta is outdated?

I ran stationxml out of delta for small subset of stations and ran FDSN locally. Ran tests locally and against beta.

If Beta running latest, code seems fine, input should be the problem.

[2017-06-28 01:52] mabznz opened #65 "SeisComp having issue with beta dataselect service responce"
Think Seiscomp error relates to how webserver is responding to dataselect service that Seiscomp does not like.

From response Headers to service.

beta-service
[code]
service
[code]
This is error from Seiscomp
[code]

[2017-06-28 03:02] gclitheroe opened #67 "update mSEED lib"
Update the mSEED lib and remove string trimming from this code.

[2017-06-28 03:04] gclitheroe opened #68 "Improve fdsn-ws-nrt deployment"
- [ ] sla and tier
- [ ] monitoring
- [ ] runbook
- [ ] SEEDLink server
- [ ] check beanstalk app config (correct subnet usage)
- [ ] autoscaling config
- [ ] logging and performance

[2017-07-02 23:10] junghao commented on #65
Some updates about this ticket:
1. The example url no longer returns empty results - I think it's because of seed files being uploaded.
2. The "curl -I" command in your example request is using "HEAD" as method which is not accepted by our new beta service so the error message you've attached has nothing to do with empty result.

The actual response for both service.geonet.org.nz and beta-service.

[2017-07-02 23:32] mabznz commented on #65
@junghao Thanks. That provides a bit more clarity.  Appears to be just the 'selection of data' when using Seiscomp (i know nothing about how to  use it). I'll get Jerome to try a very specific selection of data to give more context.

[2017-07-03 21:51] salichon commented on #65
@mabznz
here comes the different services I used with uscees or  not:

[2017-07-03 21:53] salichon commented on #65
@mabznz
the near real time is fdsnws://fdsn-ws-nrt.ap-southea....

[2017-07-03 22:07] salichon commented on #65
- [ ] Here is the return logs for the the IRIS web service (only a few NZ stations are in it) OK

09:54:16 [debug/F.../recordstream/fdsnws.cpp:233) [02] content-disposition: attachment; filename=fdsnws-dataselect_2017-07-03T21:54:16Z.mseed
09:54:16 [debug/F.../recordstream/fdsnws.cpp:233) [03] Content-Type: application/vnd.fdsn.mseed
09:54:16 [debug/F...recordstream/fdsnws.cpp:233) [04] Transfer-E

[2017-07-03 22:09] salichon commented on #65
@mabznz @junghao
could that be the server too wiuth regards to the other ones  ?
in beta -> 10:02:27 [debug/F.../recordstream/fdsnws.cpp:233) [03] Server: nginx/1.10.2

[2017-07-03 22:26] junghao commented on #65
Can you specify what parameter you were querying when you got the error from beta service?

[2017-07-03 22:35] salichon commented on #65
hey I requesting the data  simply through the service ... (data-select)
tha means a time window from 2016-07-03 22:31:39 for instance
ie.

10:31:59 [.../fdsnws.cpp:162) Request: 2016,07,03,22,21,39 2016,07,03,22,36,39 NZ WTVZ EHN 10
10:31:59 [...fdsnws.cpp:162) Request: 2016,07,03,22,21,39 2016,07,03,22,36,39 NZ WTVZ EHZ 10
10:31:59 [d....recordstream/fdsnws.cpp:192) Sending request:

NZ ALRZ 10 E

[2017-07-03 23:02] mabznz commented on #65
@junghao @salichon
It does seem there is data missing in beta which may be what expected. @salichon is this what Seiscomp is choking on? Not knowing a lot about this I think its the instrument settings that is part of the Dataless seed? Which is also to do with update of StationXML in beta.

Through Obspy:
[code]
For service.geonet.org.nz
[code]
For beta-service.geonet.org.nz
[code]

[2017-07-03 23:59] salichon commented on #65
@mabznz  AFAIK in  the seiscomp3 The data request doesn't depend upon the dataless (instrument response) . It brings directly  the miniseed data to the processing system  with the naming convention (i.e NZ.ABAZ.10.EHZ) from an archive
<SDSdir>/Year/NET/STA/CHAN.TYPE/NET.STA.LOC.CHAN.TYPE.YEAR.DAY.
(and then we can have issues with the instrument responses :) )

[2017-07-04 04:53] junghao commented on #65
It looks like seiscomp doesn't like our beta service but I'm not sure what's wrong with it.
I've submitted the parameters above to our beta service and it did return data without error.
[code]

[2017-07-04 22:12] mabznz commented on #65
@junghao @salichon yes it seems so. We quickly talked with Richard and the problem does seem with the implementation of the beta service as a Seiscomp server. Seiscomp client does not like something about it.

Unfortunately it does not give a lot of info back about the issue apart from the response header.

I think some diagnostic work needs to be done at the Geonet implementation of a Seiscomp se

[2017-07-04 22:25] mabznz commented on #62
Geoff updated stationXML in beta and confirmed it was a data issue.

[2017-07-10 01:46] junghao commented on #5
Ok I'll do _updateafter_ and _nodata_ .

[2017-07-10 07:45] nbalfour commented on #50
Just checked this is working as expected. Thanks

[2017-07-10 07:45] #50 closed

[2017-07-10 08:00] nbalfour commented on #34
I have noticed that the current stationXML used for beta returns sites that have no sensor installed.  Such as SR057 and sites that have creation dates in the future.
@quiffman @ozym we need to have a bit of a discussion around what we should include in the stationXML.

[2017-07-10 10:14] ozym commented on #34
Yes, the current StationXML reflects what's in the delta repo and needs cleaning both in the repo and in the selections used for the FDSN services.  The StationXML used for the waveform service is likely to be different to the one that's used with the station service.

e.g.
https://beta-service.geonet.org.nz/fdsnws/event/1/query?minmagnitude=6&starttime=1971-04-15&endtime=1971-04-16

[code]

These

[2017-07-10 20:52] junghao commented on #5
@nbalfour
Would you please help me to clarify in defining _updatedafter_ since the specification doesn't elaborate which(and how) one(s) should be checked when applying _updatedafter_.
Below are some date-related fields:

For event query -
* ModificationTime and OriginTime

For station query -
* CreationDate and TermintationDate
* InstallationDate, CalibrationDate and RemovalDate
* BeginEffectiveT

[2017-07-10 21:51] nbalfour commented on #5
For the event query, use the ModificationTime

At this stage please don't implement this parameter for the station query. I don't understand at the moment what would be a useful parameter to use and it sounds like different data centers define this in a different way.

[2017-07-10 22:00] gclitheroe commented on #5
There should be a column for this in the db aready

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Natalie Balfour <notifications@github.com>
Sent: Monday, July 10, 2017 2:51:32 PM
To: GeoNet/fdsn
Cc: Geoff Clitheroe; Mention
Subject: Re: [GeoNet/fdsn] Test the FDSN event service (#5)

For the event query, use the ModificationTime

At this stage please don't

[2017-07-12 13:58] gclitheroe opened #70 "base URL in wadl resources"
hi Howard,

I doubt this has much to do with the SC3 issues.  I noticed that the resources base URL is wrong in our wadl files for beta, it's wrong on service.geonet as well.

http://beta-service.geonet.org.nz/fdsnws/dataselect/1/application.wadl
http://fdsn-ws-nrt.ap-southeast-2.elasticbeanstalk.com/fdsnws/dataselect/1/application.wadl
http://service.geonet.org.nz/fdsnws/dataselect/1/application.

[2017-07-12 21:37] junghao commented on #65
A note for my testing:

- service seiscomp ok:
[code]

- service curl ok:
[code]

- beta seiscomp no-data:
[code]
- beta curl ok:
[code]

- local(mock-up) seiscomp ok:
[code]

- local(mock-up) curl ok:
[code]

- beta-nrt seiscomp no-data:
[code]
- beta-nrt curl ok:
[code]

- local-nrt seiscomp ok:
[code]

- local-nrt curl ok:
[code]

[2017-07-12 22:15] salichon commented on #65
Hello @junghao
Great thanks !
so .. . Ihad the feeling that :)
 fdsnws://fdsn-ws-nrt.ap-southeast-2.elasticbeanstalk.com/ could be the problem ?

[2017-07-12 23:41] nbalfour commented on #65
@junghao, is your local mock up the new FDSN service running on your local machine?

[2017-07-13 01:38] junghao commented on #65
@salichon @nbalfour We've addressed the cause of this issue. It's a bug of seiscomp3 against aws load balancing.

[2017-07-13 02:17] salichon commented on #65
@junghao great  as mentioned in hip chat, we can address this in the seiscomp3 github and maybe get a hotfix out of it :)

[2017-07-13 04:04] salichon commented on #65
@junghao  thanks a lot for the debugging ..
@mabznz  @gclitheroe @natalie  a ticket is raised on the seiscomp3 github
[https://github.com/SeisComP3/seiscomp3/issues/132]
It s "only" some upper case and lower case issues in the seiscomp3 fdsnws codes  ... eventually ....

[2017-07-13 20:56] mabznz commented on #65
@junghao that's awesome work
Wow, case sensitive check. I remember seeing the difference and sanity checking that http headers were case insensitive... Can be the smallest thing.

[2017-07-14 03:30] junghao commented on #65
Gempa had a quick fix for this problem overnight (I'm guessing he planned to roll out a version so he fixed this issue together with other fixes) and has commited to Seiscomp3 source repo.

You can now build from Seiscomp3's latest master and it works with our beta-service.

[2017-07-18 21:07] salichon commented on #65
Hi, we can close this issue:). Keep in mind that this fix will  be officially available only on late 2017 Seiscomp3 version (2017.2xx) certainly.

[2017-07-18 21:31] nbalfour commented on #65
Yes, I believe we can

[2017-07-18 21:31] #65 closed

[2017-08-01 07:21] gclitheroe opened #74 "SQS alarms"
There are SQS queues for archive upload notification messaging.  This includes dead letter queues.  We need to decide what (if anything) to alarm on and where to send the notification in alarm state.

Typical alarm states that are worth notifying for are:

* any messages on the dead letter queue (dlq).  These could not be processed for some reason and after a small number of delivery attempts are

[2017-08-01 07:41] gclitheroe opened #75 "Tool to generate bucket upload notifications"
Hi Howard,

Please could your write a command line tool in this repo?  I suggest the name `cmd/s3-notify`.  We need to reindex the miniSEED data. The goal of `s3-notify` is to list all the keys matching a prefix in a bucket and then for each object send a notification to an SQS queue.

Only a partially notification message should be needed in the JSON format used by the consumer, that is here http

[2017-08-02 02:35] junghao commented on #75
@gclitheroe
Most of the information can be obtained by looping a simple ListObject call which would be very efficient.
However, the *versionId* info only exists in GetObject calls. So we'll have to download the whole object to get it.
Is the *versionId* essential to the service?

[2017-08-02 05:52] gclitheroe commented on #75
We don't need the versionID  - in this case it's just getting the object at the "head" version - the version id isn't used e.g., https://github.com/GeoNet/fdsn/blob/master/cmd/fdsn-holdings-consumer/main.go#L121

[2017-08-06 06:09] nbalfour opened #77 "FDSN beta event service not wrapping around 180 longitude"
Here is an issue raised in GeoNet/help. See https://github.com/GeoNet/help/issues/40
Hi all,  just started playing with the beta fdsn service and ran into unexpected returned values when querying entries around 180 longitude.
The url:
`http://beta-service.geonet.org.nz/fdsnws/event/1/query?minlatitude=-49.0&minlongitude=175.0&endtime=2016-09-05T00%3A00%3A00.000000&maxlatitude=-35.0&starttime=2016-

[2017-08-06 06:50] nbalfour opened #78 "FDSN beta service waveforms do not begin and end at requested times"
Shifted from [GeoNet/help#41](https://github.com/GeoNet/help/issues/41)

This actually holds true for the current fdsn service as well. The below example uses the obspy fdsn client, which appears to pass arguments properly to urls:
[code]
While this queries the database accurately (generating the url: `http://beta-service.geonet.org.nz/fdsnws/dataselect/1/query?channel=EHZ&station=CNGZ&starttime=2

[2017-08-07 00:22] filefolder opened #79 "shorthand for queries not functional in beta"
hi-- i realise this is trivial but none of the abbreviations (e.g. "minlat" or "start" instead of "minlatitude" or "starttime") are working in beta. the mildest of irritations.

[2017-08-07 00:26] filefolder opened #80 "beta station query not working with format=sc3ml"
https://beta-service.geonet.org.nz/fdsnws/station/1/query?level=station&minlatitude=-42&format=sc3ml

doesn't work ("invalid format")

but

http://service.geonet.org.nz/fdsnws/station/1/query?level=station&minlatitude=-42&format=sc3ml
&
https://beta-service.geonet.org.nz/fdsnws/station/1/query?level=station&minlatitude=-42

produce normal output

[2017-08-07 00:32] filefolder opened #81 "beta station query does not recognise "includepicks" parameter"
https://beta-service.geonet.org.nz/fdsnws/event/1/query?starttime=1970-02-01&endtime=1975-12-31&maxdepth=100&includepicks=true

seems to give "schema: invalid path "includepicks" " regardless of format

[2017-08-07 01:28] #75 closed

[2017-08-07 01:37] nbalfour commented on #77
Can we please provide wrapping around 180 degree longitude for the rectangular search option in the event service, which uses the parameters minlatitude, maxlatitude, minlongtitude, maxlongtitude?

[2017-08-07 02:39] nbalfour commented on #78
To clarify a couple of points:
- The current FDSN service (service.geonet.org.nz) uses an FDSN webservice implementation that SeisComP3 provides straight out of the box. We don't have much control over what the record length is that it returns. I will say that I like this implementation though because it gives you a bit more than you asked for and you can trim the requested data without having to

[2017-08-07 02:46] calum-chamberlain commented on #78
Thanks for those clarifications, agree on the point about it being better to get more data then trim it, and if the new implementation mimics that, that would be fine.

[2017-08-07 02:51] nbalfour commented on #79
Can we please add the following abbreviations for parameters that are provided in the spec.

| Parameter | Abbreviation | Services |
| ----------- | -------------- | ------- |
| startime | start | dataselect, event, station |
| endtime | end | dataselect, event, station |
| network | net | dataselect, station |
| station | sta | dataselect, station |
| channel | chan | dataselect, station |
| minl

[2017-08-07 03:05] nbalfour commented on #80
The formats that are supported for the station service at beta-service.geonet.org.nz is **text** and **xml**. Where xml returns FDSNstationXML

sc3ml was returned by service.geonet.org.nz because it uses the SC3 implementation of FDSN webservices.

Are you requesting additional formats?

[2017-08-07 03:08] nbalfour commented on #81
includepicks is not a valid parameter according to the FDSN specifications. Do you mean includearrivals?

[2017-08-07 03:13] filefolder commented on #81
didn't try includarrivals.. i'm just going by what's listed at http://service.geonet.org.nz/fdsnws/event/1/

additional request parameters, effective only for xml output:
includecomments: boolean, default: true
includepicks: boolean, default: false
formatted: boolean, default: false

(the beta version of that page isn't up.. i assume it'd be more or less the same, however)

[2017-08-07 03:21] filefolder commented on #80
ah. i don't recall importing xml into seiscomp/sc3 to be too tricky in the past, so no real trouble there, i just assumed it was also an option in beta.

[2017-08-07 03:24] junghao commented on #79
Currently station and dataselect support abbrevations but not listed in the wadl file.
For abbrevations for event I'll patch it.

[2017-08-07 03:26] nbalfour commented on #81
You can refer to the wadl for the service to find the supported parameters http://beta-service.geonet.org.nz/fdsnws/event/1/application.wadl
The full description of the FDSN specifications can be found here https://www.fdsn.org/webservices/FDSN-WS-Specifications-1.1.pdf

The service http://service.geonet.org.nz/fdsnws/event/1/ has never been operational but the page shows up because we have the ot

[2017-08-07 03:27] nbalfour commented on #79
Thanks @junghao

[2017-08-07 03:38] nbalfour commented on #80
Are you planning on using the beta fdsn service as a data source for SC3? If so, please note we found a bug in SC3 during testing. Gempa quickly fixed the issue with the latest update of SC3. So please update SC3 before you use FDSN as a source.

[2017-08-07 04:11] filefolder commented on #80
thanks i hadn't looked in a while, was still on 2016.333.

i was hoping that using event data from the fdsn beta will solve an issue with some older (20th century) geonet events not always "finding" station locations in sc3's picker when i imported them via xml. never figured out what was going on there.

[2017-08-08 04:06] nbalfour commented on #51
I have been thinking and researching a bit about the text output as a format option. There is no set way of doing this. The most common output format is before.

The output from the IRIS service and USGS service looks like this:
``
#EventID | Time | Latitude | Longitude | Depth/km | Author | Catalog | Contributor | ContributorID | MagType | Magnitude | MagAuthor | EventLocationName
609301|1997-10-

[2017-08-08 04:19] nbalfour commented on #51
@junghao can you please look into the magnitude-asc issue. In Byron's test it returned the QuakeML but the order of the earthquakes was still in magnitude descending.

[2017-08-11 00:20] gclitheroe commented on #79
I think this should be resolved.  Please can you check it out and resolve this if it is?

[2017-08-11 01:03] gclitheroe commented on #77
I think this should be resolved. Please can you check it out and resolve this if it is?

[2017-08-11 02:30] nbalfour commented on #77
Seems to work fine. Thank you

[2017-08-11 02:30] #77 closed

[2017-08-11 02:36] nbalfour commented on #79
Works great. Thank you

[2017-08-11 02:36] #79 closed

[2017-08-11 02:39] nbalfour commented on #51
@mabznz can you please test the magnitude-asc option? It looks like it was resolved in the last pull request  https://github.com/GeoNet/fdsn/pull/82

[2017-08-11 03:04] mabznz commented on #51
@nbalfour magnitude-asc option now working correctly

[2017-08-11 03:11] #51 closed

[2017-08-13 22:09] nbalfour commented on #78
We discussed the option around trimming data and decided we will just provide more data than requested, which is against the spec but makes more sense. This will allow us to provide data in it's raw form rather than reprocessing data. The end user can then trim the data themselves as part of their processing.

- [ ] For the dataselect service, please go off spec and provide the records that includ

[2017-08-13 23:04] calum-chamberlain commented on #78
That sounds good, thanks guys, and thanks for the 180 degree wrapping (not that I have had a chance to test it yet).

Its still not clear to me why data are not sampled on the second though (or for that matter on the 0.01s for 100Hz data)?

[2017-08-14 03:59] nbalfour opened #83 "Update FDSN webpage"
Update FDSN webpage and include the following information:
- [x] Supported parameters for each service
- [x] Bug in SC3 that causes issues when using FDSN (geonet) as a datasource
- [x] Variation from specifications for dataselect, includes starttime (or before) and endtime (or after)

[2017-08-14 04:25] #81 closed

[2017-08-14 04:26] #80 closed

[2017-08-14 06:13] gclitheroe opened #84 "Reindexing the archive"
The fdsn-beta service currently has 2016 data for testing.  I'm about to start indexing the full GeoNet archive so fdsn-beta may behave badly for 2016 while this process is carried out.

I will close this issue when I'm done.

[2017-08-14 08:12] gclitheroe commented on #84
- [ ] update holdings consumer config
- [ ] reindex bucket to queue
- [ ] update eb config to read bucket (manual - not yet terraformed)
- [ ] scale RDS down when finished
- [ ] scale ecs tasks down
- [ ] remove testing roles for ecs
- [ ] remove test bucket (miniseed)
- [ ] change to use new version of stationxml
- [ ] remove testing version of stationxml

[2017-08-14 22:08] junghao opened #86 "fdsn-ws-nrt record select range logic check."
We've made the start time - end time filter logic for cmd/fdsn-ws in #78.
Have to check if the nrt service need some change as well.

[2017-08-14 22:19] gclitheroe commented on #78
For clarity - I had followed the spec originally.  @junghao has now gone "off spec" as requested and I've merged this deployed.

Currently the index is being rebuilt - there are some data from 2016 available for testing but this is not yet complete.

[2017-08-19 02:00] nbalfour opened #89 "remove format option from event service wadl"
The wadl still has the format option available. Since the only output format that we are supporting is xml it makes sense to remove that option from the wadl for the event service and return an appropriate error if someone tries to use that option.

Please:
- [ ] remove format option from the event service wadl
- [ ] return an error if someone uses the format option

[2017-08-19 03:13] nbalfour commented on #83
See https://github.com/GeoNet/www-geonet/pull/447

[2017-08-19 03:13] nbalfour commented on #25
See https://github.com/GeoNet/www-geonet/pull/447

[2017-08-20 18:46] gclitheroe opened #91 "Stream naming for errors"
need to add the stream defn to errored holdings in fdsn-holdings-consumer

They all get the same zero name at the moment which makes reporting harder.

[2017-08-20 21:06] junghao commented on #89
@nbalfour We can support text output for event service. Do you prefer to remove the option from wadl or to support text format?

[2017-08-22 20:09] gclitheroe commented on #91
This is actually ok for reporting.  Just need to update the stream id to be for a valid nscl if the error is ever resolved and the file reprocessed.

[2017-08-22 20:12] #91 closed

[2017-08-23 12:58] gclitheroe commented on #78
Reindexig the archive is complete.  This time window issue can now be reviewed.

[2017-08-23 13:03] #67 closed

[2017-08-23 15:16] gclitheroe commented on #34
I've switched fdsn-ws over to use the station xml file geonet-meta/stationxml/complete.xml

[2017-08-24 09:42] #84 closed

[2017-08-24 18:43] nbalfour commented on #78
The query now returns slight more than the requested time window. The same as our existing FDSN webservice from SC3. Thanks.

[2017-08-24 18:43] #78 closed

[2017-09-03 07:01] #83 closed

[2017-09-03 07:02] #25 closed

[2017-09-03 20:58] nbalfour commented on #89
@junghao. Ok, let's support the text format since it is documented and most other institutions provide it as part of the service. I originally felt that you can get this information through quakesearch and therefore was unnecessary but given the community using FDSN is fairly use to this service it would save them hunting around for another way to access this information.

So, yes, please keep it

[2017-09-03 21:42] junghao commented on #70
@gclitheroe
This issue is resolved by https://github.com/GeoNet/fdsn/pull/73. We'll have to export HOST_CNAME environment variable to the  running beta service to work.

[2017-09-03 22:26] nbalfour opened #94 "Check the replica archive"
Please check the replica archive as discussed at the FDSN standup 04/09/2017

[2017-09-03 22:28] nbalfour opened #95 "Check miniseed errors for any major issues"
Check the errors in the miniseed archive for any major issues.

[2017-09-04 01:37] junghao commented on #89
@nbalfour
FDSN spec for text format output:
EventID | Time | Latitude | Longitude | Depth/km | Author | Catalog | Contributor | ContributorID | MagType | Magnitude | MagAuthor | EventLocationName

And GeoNet's beta service responses with some different fields in xml:
http://beta-service.geonet.org.nz/fdsnws/event/1/query?eventid=2017p027063

So some field-mapping for text format of event service r

[2017-09-04 19:40] gclitheroe opened #96 "Incorrect "other" event type in QuakeML"
The correct QuakeML event type for "other" is "other event", the XSLT is inserting "other".

[code]

- [x] fix the XSLT here
- [x] bug report the upstream XSLT source
- [x] deploy haz-quake-consumer and
- [x] update the errored QuakeML in the DB.

[2017-09-04 20:53] junghao opened #97 "Incorrect date format in station service"
From http://beta-service.geonet.org.nz/fdsnws/station/1/query?station=WTMC&location=20&channel=HNZ&level=response&starttime=2015-11-13T00:00:00.000

The date fields (e.g. `<Created>` at 5th line) has a suffix of "Z" which is incorrect.

[2017-09-04 23:37] nbalfour commented on #89
Of course. Some of these fields are static because we don't have multiple agencies contributing to the catalogue. Some of them are not in our QuakeML but might be in the SC3ML, such as, the EventLocationName which is the Geographic description of event location (e.g. Flinn-Engdahl region name).

| FDSN spec field | GeoNet xml field (or some static string)  |
|-----------------| ------------------|

[2017-09-05 00:06] junghao commented on #89
@gclitheroe The EventLocationName would require some copy-paste-add-remove from haz/msg/localities which could be messy, is that OK?

[2017-09-14 01:00] #97 closed

[2017-09-14 01:04] gclitheroe commented on #89
We done this without the Flinn-Engdahl regions.  We don't have anything to create them at the moment.  We could add this if it's needed.

[2017-09-14 22:46] gclitheroe commented on #96
Waiting for confirmation from Steve that the corrected events load ok in Swarm and then I can close this.

[2017-09-15 04:00] rumachan commented on #96
Swarm loads a single event QuakeML file successfully, but I cannot get it to load a multiple event file, such as Kaikoura aftershocks shown as an example on http://www.geonet.org.nz/data/tools/FDSN. But I can read that multiple event QuakeML file into ObsPy okay. I'm left unsure where my problem is.

As Swarm is showing some other odd behaviour and won't load a SED QuakeML file my suspicion is tha

[2017-09-15 04:10] #96 closed

[2017-09-21 22:09] ozym commented on #94
This has been completed and the replica fully synced.

[2017-09-21 22:09] #94 closed

[2017-09-26 23:36] junghao commented on #62
At this moment the response from beta service doesn't contain `<Stage>`
http://beta-service.geonet.org.nz/fdsnws/station/1/query?station=KARZ&network=NZ&channel=EHZ&level=response

But the production service does:
http://service.geonet.org.nz/fdsnws/station/1/query?station=KARZ&network=NZ&channel=EHZ&level=response

And I've downloaded the station source xml from S3 then ran the service locally it

[2017-09-28 00:58] #62 closed

[2017-09-28 20:39] #34 closed

[2017-09-28 21:50] nbalfour commented on #89
The specifications state "Geographic description of event location (e.g. Flinn-Engdahl region name)", so I interpret that as it doesn't have to be Flinn-Engdahl regions. It can be a different description such as the ones on the website.

Can you please add the event description to the text format output, such as the description we use on the website? This is not urgent.

[2017-09-28 22:10] gclitheroe commented on #89
I'm going to make a kit pkg for the localities so this can stay in the backlog till I have done that.

[2017-09-29 00:10] #5 closed

[2017-10-09 00:51] gclitheroe opened #102 "beta-service-nrt.geonet.org.nz DNS entry"
Get a beta service DNS entry for the nrt service.

[2017-10-09 00:53] gclitheroe opened #103 "Keep 7+ days of data for nrt"
The archive is 7 days behind.  Keep more data in the nrt db to overlap this.
Need to check the DB disk size.
May want more ram on eb instances?

[2017-10-09 00:53] gclitheroe opened #104 "TLS on beta-service and beta-service-nrt"

[2017-10-09 19:10] gclitheroe opened #105 "Add service status endpoints for http probes"
Add service level monitoring for overall service functionality.  These should be suitable for use with http probes (return a 200 or 500):

- [x] for fdsn (archive) make sure the number of samples in the archive in the last 8 days is > 0.  This allows for the 7 day lag on putting files in the archive.
- [ ] for fdsn-nrt make sure there are miniSEED records in the db for the last hour.

[2017-10-09 19:12] gclitheroe opened #106 "Improve message handing for fdsn-holdings-consumer"
Improve the message handling in fdsn-holdings-consumer.  It should return errors for messages that have the wrong structure.  This line should not return nil

https://github.com/GeoNet/fdsn/blob/master/cmd/fdsn-holdings-consumer/main.go#L143

This will catch errors by sns->sqs subscriptions not be for raw messages.  It will also catch other errors with the notification format.

[2017-10-09 19:22] nbalfour opened #107 "beta-service.geonet.org.nz dataselect query problem"
I have just been querying the archive FDSN service, beta-service.geonet.org.nz, and I can't access recent waveform data (since 17/8/2017).

[2017-10-09 19:27] nbalfour commented on #107
Sorry, it now seems to be fixed.

[2017-10-09 19:32] gclitheroe commented on #107
it's not all the way fixed - I'm working on it.

* I have to do the reindex of the stuff that's missing (this is part way done which is why it looks like it's working again)
* document how to reindex
* figure out why this stopped working in the first place and fix any bugs
* add some service monitoring

[2017-10-11 22:52] gclitheroe commented on #106
fixed.

[2017-10-11 22:52] #106 closed

[2017-10-11 22:55] gclitheroe commented on #107
This is fixed.  217.277 went in correctly.

[2017-10-11 22:55] #107 closed

[2017-10-12 00:13] gclitheroe commented on #104
Done.  Cert wont be valid for nrt until there is a DNS entry for a geonet domain.

[2017-10-12 00:13] #104 closed

[2017-10-12 00:22] gclitheroe commented on #102
request is in to IT.

[2017-10-12 00:34] #103 closed

[2017-10-12 00:34] #105 closed

[2017-10-12 01:02] #102 closed

[2017-10-12 01:47] gclitheroe opened #111 "logging prefix"
Update build.sh to set the log prefix.

[2017-10-12 01:52] gclitheroe commented on #111
Done.  Deployed ok.

[2017-10-12 01:52] #111 closed

[2017-10-12 01:53] gclitheroe commented on #89
This is done e.g.,

http://beta-service.geonet.org.nz/fdsnws/event/1/query?eventid=2017p027063&format=text

[2017-10-12 01:53] #89 closed

[2017-10-12 02:12] gclitheroe commented on #105
There are now to URLs for use with http probes (I will get these added)

http://beta-service.geonet.org.nz/soh
http://beta-service-nrt.geonet.org.nz/soh

They will return errors for 0 records (or for DB failures).

[2017-10-20 01:04] gclitheroe opened #112 "Document FDSN WS architecture"

[2017-10-20 01:05] gclitheroe opened #113 "Document FDSN WS NRT architecture"

[2017-10-20 02:18] gclitheroe opened #114 "Add some sort of test for quakes into the soh probe."

[2017-10-24 04:38] gclitheroe commented on #113
done.  This now resides in `docs/`.

[2017-10-24 04:38] #113 closed

[2017-10-24 04:39] gclitheroe commented on #112
done, this now resides in `docs/`.

[2017-10-24 04:39] #112 closed

[2017-10-26 22:01] nbalfour opened #116 "Update FDSN webpage"
Update FDSN webpage to include new addresses for:
- [x] NRT in beta - most recent 8 days of data at beta-service-nrt.geonet.org.nz
- [x] FDSN archive in production - 7 days behind at service.geonet.org.nz

[2017-10-28 03:14] rumachan opened #117 "Error returned by NRT server when data requested are not available is not the same as the archive server"
I am doing this with Python 2.7 and the ObsPy module.

When I request data from the archive server that it does not contain (such as from 2018) I get a sensible error message, but from the near real-time server the message is not what is expected; it does not tell me that no data are available. If I request data held by the near real-time server, it is returned successfully.

arc_client = 'http://

[2017-10-30 21:54] nbalfour commented on #117
Thanks Steve.

I would like the NRT service to return a "no data" error when the start date of the request is later than the present time (in the future).

@gclitheroe, can you or one of your team please make this change. Thanks

[2017-11-04 03:23] nbalfour commented on #116
See PR https://github.com/GeoNet/www-geonet/pull/506

[2017-11-04 03:26] nbalfour opened #119 "FDSN archive to production"
Please make the necessary changes to move FDSN archive service to production on 06/11/2017

[2017-11-05 20:42] gclitheroe opened #120 "Metrics service"
I've put up a service to allow retrieval of the fdsn data metrics.  It has the same request parameters as the dataselect query but is outside the fdsn URL path.  It will also include any files that have errors in the results.  These are excluded from the data select results.

This is an experimental stage one.  We can change this anyway as needed.

https://beta-service.geonet.org.nz/metrics/fdsnws

[2017-11-05 22:17] gclitheroe opened #121 "Station bug?"
I think this might be a bug?  If I have a `channel` parameter in the query I get results e.g.,

`curl -v "https://beta-service.geonet.org.nz/fdsnws/station/1/query?starttime=2017-11-05T00:00:00&channel=20BNZ"`

but if I add the `level` query parameter I get no results e.g.,

`curl -v "https://beta-service.geonet.org.nz/fdsnws/station/1/query?level=response&starttime=2017-11-05T00:00:00&channel=20B

[2017-11-05 22:20] rumachan commented on #120
Thanks, this is a nice idea.

If no endtime is given it defaults to a period of one day? From my playing that seems to be the case.

Can I ask what constitutes a file error? If I ask for a site ABC, which I presume does not exist, nothing is returned?

This isn't intended as a tool to identify data gaps is it? ObsPy provides obspy-scan, which I have never used, but that seems to be only for data o

[2017-11-05 22:43] gclitheroe opened #122 "format string specifier bug"
Looks like there is a format string bug somewhere (`%!f(*float64=0xc4226b8010)` in the below)

[code]

[2017-11-05 22:48] gclitheroe commented on #120
wrt to gaps etc - you're on the right track.  Please view this service as very experimental while @nbalfour and the data team define what it should do.

Errors relates to whether the mSEED file in the archive could be read into the index at all.  If there is an error in the metrics service then data for that file won't appear in the dataselect service at all.

[2017-11-05 23:03] quiffman commented on #119
The DNS change has been made.
Depending on users' nameserver settings this will either already be apparent, or could take up to a day for the change to propagate.

--
Richard Guest - GeoNet Platform Manager
GNS Science - Te Pu Ao
M +64-27-415-1417 :: T +64-4-570-1444 :: F +64-4-570-4600
1 Fairway Drive, Avalon, PO Box 30-368, Lower Hutt, 5040, New Zealand.
http://www.gns.cri.nz/who/staff/2658.html

[2017-11-05 23:35] gclitheroe opened #123 "filtering stations by channel only works at level=channel"
I don't know if this is a bug or a feature.  The Gempa / SC3 service shows the same behaviour as our implementation.  Filtering by channel only seems to have an affect when the output level is a channel  e.g.,

[code]

returns different results compared to

[code]

[2017-11-05 23:55] nbalfour commented on #121
Remove the location code from the channel filter so that it is just "BNZ". There is a separate parameter for the location code.

[2017-11-05 23:58] gclitheroe commented on #121
yep - my error.   The other bit of confusion is in #123

Closing this.

[2017-11-05 23:58] #121 closed

[2017-11-06 03:39] nbalfour commented on #123
I believe this is to do with the lack of channel information that is returned at levels higher than channel (so net or sta). At levels of station (default) only the number of channels is returned, not what the channels are.

So it's a bit a bug that is based on the assumption that filter level people use (channel=, loc=) is related to the level of information that are interested in (level=).

For

[2017-11-06 04:06] gclitheroe commented on #123
So I guess this is a feature.  I'll close this - it was just confusing, not a show stopper.

[2017-11-06 05:52] junghao commented on #123
Unfortunately, I think this is a bug.

And from this url (better use browser to see xml result)
[code]
If you search for "ABAZ" then you'll get a match - which supposed to represent :
*"there're children (channels) under it but collapsed."*

However, if you do
[code]
you can't find "ABAZ" from the result xml.

And if you do
[code]
you can't find "BTT" from the result.

This doesn't make sense.

[2017-11-06 06:12] ozym commented on #123
@junghao keep in mind that not all stations have all channels.

BTT is a tsunami gauge stream, while ABAZ is seismic site (this should have EHZ etc.)

[2017-11-08 07:48] #116 closed

[2017-11-08 19:36] #119 closed

[2017-11-09 23:00] nbalfour opened #124 "Data download metric for FDSN webservice"
I would like to request a metric that tells me how much data has been downloaded from the FDSN webservice for any given month so that I can include it in our download statistics for the EQC quarterly report.

If this was available on webstats.geonet.org.nz that would be awesome but I don't really care where it is as long as I know where to look.

[2017-11-17 01:39] iceseismic opened #127 "Link fails from web page"
Inside  www.geonet.org.nz/data/tools/FDSN   under "Station"  the documentation currently gives an example request line :
![image](https://user-images.githubusercontent.com/831424/32925100-07dc3a82-cba5-11e7-9f0c-4442a670a4c7.png)

This link fails for me,  with a  "404 Not Found" error

[2017-11-17 01:43] iceseismic opened #128 ""get_stations" in obspy, fails when "endafter" is used"
Inside obspy:
(a) client.get_stations(latitude=-38.2, longitude=176.2, maxradius=0.2, level="channel")  works fine, but
the same line also using    endafter=2016-01-01T00:00:00   fails with the following screen message :

![image](https://user-images.githubusercontent.com/831424/32925209-9a888318-cba5-11e7-8c24-ac80b7258a17.png)

[2017-11-17 01:50] nbalfour commented on #127
My apologies. I left out a semi-colon on the webpage after the https

It should be https://service.geonet.org.nz/fdsnws/station/1/query?latitude=-42.693&longitude=173.022&maxradius=0.5

I will fix the website

[2017-11-17 02:59] nbalfour commented on #128
Use "endtime"  instead of "endafter"

[2017-11-21 03:12] #127 closed

[2017-11-26 20:31] calum-chamberlain commented on #122
As a note, this means that obspy's [`obspy.client.fdsn.mass_downloader`](https://docs.obspy.org/packages/autogen/obspy.clients.fdsn.mass_downloader.html?highlight=mass_downloader#module-obspy.clients.fdsn.mass_downloader) fails.

[2017-11-26 20:42] calum-chamberlain opened #129 "Different wildcard handling for station and waveform queries"
Square-bracket wildcards are handled in the `fdsnws/dataselect` query, but appear not to be in the `fdsnws/station` service.  Example using ObsPy 1.1.0:
[code]
Output of final failed request:
[code]

My current workaround is to expand wildcards on my end:
[code]

[2017-12-06 20:40] gclitheroe commented on #122
This is fixed and deployed.

[2017-12-06 20:40] #122 closed

[2017-12-06 20:47] #123 closed

[2017-12-06 21:24] nbalfour commented on #129
@calum-chamberlain
I tried to recreate this error the same query but with the URL rather than obspy and it worked. I think this could this be an issue with obspy?

This is the URL query that worked:
`http://service.geonet.org.nz/fdsnws/station/1/query?station=OGW,TUWZ,BSWZ,MSWZ,CAW,DUWZ,MRZ,KIW,CMWZ,WEL&location=10&channel=[EH]H?&starttime=2016-11-14T00:00:00.0&endtime=2016-11-15T00:00:00.0&level=

[2017-12-06 21:59] nbalfour commented on #129
@calum-chamberlain, this is a bit odd.

The following request works, which is the same as yours but without the comma [EH] instead of [E,H].
[code]
But it doesn't work with the IRIS request with and without the comma.

[code]
Error is
[code]

In the obspy documentation they use the wildcard without a comma. eghttps://docs.obspy.org/packages/autogen/obspy.core.inventory.inventory.Inventory.plot_res

[2017-12-07 00:01] calum-chamberlain commented on #129
Hmm, odd - I will raise this over at ObsPy - do you know if, for the other services (e.g. dataselect), commas are removed from the urls?
Thanks for looking into this!

[2017-12-07 00:42] gclitheroe commented on #117
@rumachan - this should be sorted.  Please could you test it out and close the issue if it now works correctly?

[2017-12-07 00:48] nbalfour commented on #129
@calum-chamberlain we think it was a mistake that the commas were included as an option. Dataselect and station were done by different people and they might have interpreted the spec differently.
It seems like the appropriate use from the obspy documentation is without commas, which works for both dataselect and station.

[2017-12-07 00:51] #129 closed

[2017-12-11 01:56] danieldooley commented on #86
Howard's approach to fix this was to take records from the first record that starts *after* the requested 'start_time' till the record before the record that starts after the 'end_time' and then also include the record before the first one (assuming this record contains the start_time).

This is a good solution without having access to the end time or duration of the records (in the fdsn.record ta

[2017-12-11 16:19] nbalfour opened #136 "List service on the FDSN webservices website"
If we do this then the station and dataselect services will be included in the IRIS federator and we can potentially stop sending data to IRIS.

https://www.fdsn.org/webservices/datacenters/

[2017-12-13 02:25] rumachan commented on #117
@gclitheroe  I now get the same response from both servers. Thanks.

[2017-12-13 02:25] #117 closed

[2018-01-22 20:53] nbalfour opened #139 "Station service: Text format not supported at channel level"
At the moment the text format doesn't appear to be supported at the channel level and it should be. This is the lowest level we should provide, in other words we can't support his for level=response.

The output format/columns should be the following.

[code]

[2018-01-22 22:14] nbalfour commented on #139
My apologies, this is supported so I'm closing this ticket.

[2018-01-22 22:31] #139 closed

[2018-01-22 22:42] nbalfour opened #140 "Starttime parameter confusion for station service"
The FDSN specification is a bit confusing when it comes to how it deals with starttime for the station service. See this thread http://www.fdsn.org/message-center/thread/176/

The main point is the last sentence in the paragraph under Time Parameter Interpretation.
"The	selection shall include any metadata epochs intersecting with the specified time range."
This implies that as long as a station's

[2018-01-23 02:14] calum-chamberlain commented on #140
:+1: Just ran into this issue using what worked in #129 before, and does not work now.

[2018-01-23 22:52] junghao commented on #140
For "intersecting with the specified time range" it brings more confusion:

Consider the timeline:
![screen shot 2018-01-24 at 11 44 17](https://user-images.githubusercontent.com/8474881/35304863-f7233222-00fb-11e8-80aa-00509d821049.png)

The horizontal line represents the metadata active period. And query parameters are arrows below.
**If there's only 1 query parameter "startTime"**, then:
Case 1

[2018-01-23 23:07] calum-chamberlain commented on #140
As a user, I would expect:
1. Include
2. Include
3. Exclude
Which was (I think) what we were getting before, and I think what @megies was getting at in the link @nbalfour posted.

[2018-01-23 23:25] junghao commented on #140
From @calum-chamberlain 's comment I think what we're expecting becomes (from the algorithm level):
### Include a station if its end time is after the "startTime" query parameter.

Is that right?

[2018-01-23 23:26] ozym commented on #140
"start" needs to be before "endTime" and "end" needs to be after "startTime"

[2018-01-23 23:28] junghao commented on #140
Yes of course the "reasonable" check is already implemented.

[2018-01-23 23:31] junghao commented on #140
@ozym Then case 3 will be excluded.

[2018-01-24 00:52] nbalfour commented on #140
@junghao yes that is right

[2018-01-24 01:00] junghao commented on #140
@nbalfour @calum-chamberlain
However for
1. Include
2. Include
3. Exclude

Then startTime is a duplicate to endBefore.

[2018-01-25 19:56] nbalfour commented on #140
Check the service and it's working as excepted. Thank you.

[2018-01-25 19:56] #140 closed

[2018-01-25 20:37] calum-chamberlain opened #142 "Waveform query channel expansion now broken"
This kind of follows on from #129 - previously (yesterday morning) channel codes were handled so that multiple channel codes to be queried at the same time. Now this returns a 204 code.

Example Python/obspy code:
[code]

Yesterday morning this worked, but as of yesterday afternoon, not so much:
[code]

Might I suggest that the FDSN system has a regression test for this behaviour?

[2018-01-25 20:40] calum-chamberlain commented on #142
I can't actually see any tests in this repository, are there any tests run by ci before changes are made?

[2018-01-25 20:43] junghao commented on #142
The support to regex query has been removed yesterday since it's not in the spec and might cause some confusion (of level of regular expression supporting).

https://github.com/GeoNet/fdsn/blob/master/internal/fdsn/dataselect_test.go#L63

[2018-01-25 21:07] calum-chamberlain commented on #142
Could we then have a better error message? Also, FDSN spec states that 204 error code is for:

It sounds like if you have moved regex out of spec this shouldn't be the error code returned (perhaps 400?).

Agree on the causing confusion!

[2018-01-25 21:14] junghao commented on #142
The query parameter here "[EH]H?" is not an invalid query. Our service just not taking it as regular expression. You're telling our service to look for stations which has a left bracket then "E" then "H" then right bracket then "H" then an any char -> which doesn't exist.

[2018-01-25 21:18] calum-chamberlain commented on #142
Fair, I would expect 6-character channel names to be invalid (following SEED spec)?

[2018-01-25 21:20] nbalfour commented on #142
The specification suggests using wildcards and lists to get multiple channels. I hope that helps.

From the spec (https://www.fdsn.org/webservices/FDSN-WS-Specifications-1.1.pdf):

The channel constraint parameters (network, station, location and channel) may include two specific wildcard characters	with the following meaning:
\* – Matches zero to	many characters
? – Matches any single character
T

[2018-01-25 21:35] junghao commented on #142
Though FDSN spec says:
"String type parameters may include ASCII characters, including the asterisk (*) and question mark (?) that have special meaning as wildcards for specific parameters." (most common special chars are ASCII as well)

But I agree that if we return 400 error for queries have regex chars, the user will know that we don't like regex. They won't misunderstood that "we've searched b

[2018-01-25 21:41] calum-chamberlain commented on #142
FDSN spec also says:

And SEED says:

But yup, agree, 400 for regex chars would be good in general (obviously apart from `*` and `?`) - an error message alongside that which says that regex except `*` and `?` is not supported would be really helpful too.

[2018-02-08 23:45] kaspervanwijk opened #144 "start time problem on data requests?"
Hi All,

Am I doing something wrong here? I am getting significant differences between requested start time and delivered start time. IRIS server does not have this problem. Simple code for one example where the difference is more than 6 seconds:
[code]

[2018-02-09 01:15] rumachan commented on #144
Hi Kasper,
Isn't it just how the data buffers boundaries fall relative to your request? If you grab the same month/day/time for 2017, the difference is only 0.05s.

[2018-02-09 02:36] kaspervanwijk commented on #144
Dear Steve, Thanks for your reply. Not sure what is reasonable to expect!
But every instance I've run on the IRIS FDSN service (pick your station and
network) gets me within 0.1s.

kasper

Kasper van Wijk
Department of physics
University of Auckland
https://www.physics.auckland.ac.nz/people/kvan637

On 9 February 2018 at 14:15, Steven Sherburn <notifications@github.com>
wrote:

[2018-02-09 11:32] ozym commented on #144
Hi Kasper,

What you are seeing with these queries is a difference between the IRIS implementation of the FDSN waveform service and that of GeoNet.

In both cases the raw data is stored in miniSEED format blocks in an archive. The IRIS mechanics is to gather all the raw blocks that would match a request, then repackage them together and, at this point, trim the edges of the recovered data to match

[2018-03-12 23:18] cvanhoutte opened #147 "Comparing CWB and FDSN"
Hi there

I'm transitioning to the obspy FDSN client for downloading data, but I occasionally come across some problems. For example, I get two very different outputs when I use the CWB command and the FDSN client through obspy.

These codes usually works fine for both clients, but occasionally things go awry for the FDSN client. In the case below, the FDSN client gives me 76 different traces inst

[2018-03-13 00:06] ozym commented on #147
Chris,

This appears to be a back-end data problem rather than an FDSN problem per se.

It appears that a few days worth of data for that station where corrupted in 2013. Days, 112 - 114 & 126. The other days seem to be okay. The usual cause for this is another instrument being turned on with the wrong settings and quietly recording data pretending to be from elsewhere, usually this isn't the onli

[2018-03-14 00:16] cvanhoutte commented on #147
Ok great, thanks for that Mark. Would you suggest that I continue to use the CWB in the meantime, or is the fdsn system still less error-prone?
Chris

[2018-03-14 00:20] ozym commented on #147
I'd suggest moving to FDSN as we are planning to move off of CWB when the hardware reaches its end of life.

[2018-05-27 22:19] jristau opened #151 "FDSN not recognising some event ID's"
I've written a script to retrieve data for moment tensor solutions based on the event ID. It's basically an FDSN version of a script I used for CWB. It works fine for SC3 or CUSP ID's, but I've found there is a period around 2010-2011 where FDSN doesn't recognise the event ID, e.g. 3468575 for the February 2011 Christchurch earthquake.

I'm positive that I'm using the correct CUSP ID. I've compare

[2018-05-27 23:49] ozym commented on #151
@jristau you will need to give some more details, a good example would be the exact request line that you are using. Also any error messages that may be coming back. The goal is to replicate the error at this end (without the script) so it can be followed through the system.  At the moment it's not clear whether the problem is with the CUSP ID or whether it is with the underlying data (and associa

[2018-05-30 00:07] jristau commented on #151
The event ID problem seems to have gone away for most events, but there are still some where it doesn't work. Here is an example using ObsPy/Python.

from obspy import UTCDateTime
from obspy.clients.fdsn import Client as FDSN_Client
client=FDSN_Client("GEONET")
cat=client.get_events(eventid="3468575")

This produces the following message:
**Traceback (most recent call last):
  File "./FDSNtest.py"

[2018-05-30 08:05] ozym commented on #151
There doesn't seem to be any problems with the miniSEED data in the SDS archive, I've re-run the sync for the 2010 linked files.

[2018-06-14 23:09] filefolder opened #152 "no data for stations NEZ & WNVZ"
not sure if it's just not available or if there's a different problem but i can't seem to pull any miniseed data for these between 2015-2018 via FDSN or CWB (RIP!!)

they're both sp borehole sites, WNVZ at Ruapehu and NEZ at Taranaki.

[2018-06-15 00:27] ozym commented on #152
It's probably related to the "location" code that is being used for your query.  The standard short period location code is "10", but when we run sensors on the surface and down a borehole we generally use "11" for the borehole sensor.  For some sites the original surface sensor will have been removed and so there's only data available for location code "11".

[2018-06-15 00:37] filefolder commented on #152
ah that's it. that's a bit tricky as the auckland borehole sites are still 10's i think.

[2018-06-15 00:45] ozym commented on #152
Great, that's probably because they never had a surface sensor installed prior to the boreholes.

[2018-06-15 00:45] #152 closed

[2018-06-15 00:47] filefolder commented on #152
ah right sorry. well the location for these sites is "10" in the station response also. fwiw

[2018-08-01 22:56] francovm opened #153 "FDSN- Event service - Missing events"
Hi,

I am doing some work with FDSN event service and I realized that there are a couple of missing events there. I am not sure if there is an specific reason for this lack of data.

1 - M 6.2 Christchurch Tue, Feb 22 2011
URL query :
[ https://service.geonet.org.nz/fdsnws/event/1/query?eventid=3468575](https://service.geonet.org.nz/fdsnws/event/1/query?eventid=3468575)

2-  M 7.2 Darfield (Canter

[2018-08-01 23:04] francovm commented on #153
Also, these event are currently available using `http://quakeml.geonet.org.nz`, but this one should be deprecated soon.

[2018-08-01 23:15] junghao commented on #153
I think this is the same issue as in #151.

[2018-08-14 03:00] JonoHanson commented on #153
@junghao has there been any action on this?

[2018-08-14 03:01] JonoHanson commented on #153
we also need to think about how we make sure this list is complete (as in, we need to catch all the missing events)

[2018-08-14 20:55] salichon commented on #153
These events are available under :

They are all CUSP time events.
 - Is a search over the same day of these returning some other missing events (lower magnitudes) ?

[2018-08-24 10:23] bertranddelouis opened #154 "Getting records in near real time"
Hello,
I tried to get near-real time data for an event of NZ Magnitude 3.5, Mon Aug 20 2018 1:56 PM, with fetchdata webservice, with the following script:

---------------------------------
#!/bin/bash

# Set servce base path, change to your own service host
#for pas events: SERVICEBASE="http://service.geonet.org.nz"
SERVICEBASE="http://beta-service-nrt.geonet.org.nz"

# Set all service specific l

[2018-08-26 21:12] gclitheroe commented on #151
This has been fixed - some events were missing from the DB.   All events have been reloaded.

[2018-08-26 21:12] #151 closed

[2018-08-26 21:12] gclitheroe commented on #153
This has been fixed - some events were missing from the DB.   All events have been reloaded.

[2018-08-26 21:12] #153 closed

[2018-08-26 21:38] JonoHanson commented on #153
sweet!

[2018-10-10 18:01] baobaohan opened #160 "Can't find any broadband waveform"
Hi there,

I am trying to find some broadband waveform (BHZ) within the GEONET

but got no data.

Is it true that we don't have broadband over New Zealand?

Best,
Han

[2018-10-10 22:32] francovm commented on #160
Dear Han,

Good day!
Regarding your query,  you can request our broadband waveforms using the channels "HHZ" (High Broad Band).  Also, remember that the waveform data is available through the FDSN - Dataselect service (get_waveform).

If you have further queries, we’ll be happy to assist.

Regards,

Franco

[2018-10-11 03:42] baobaohan commented on #160
Hi Franco,

Thanks for your reply!

I spend the whole day and finally make it worked with obspy. I also learned how to convert the StationXML file into dataless SEED file. Will let you know if I encounter any further issue.

Best,
Han

[2018-10-11 04:41] baobaohan commented on #160
Hi, Franco,

It turns out that I don't have the station location for each SAC file I have now.

I followed the GEONET FDSN service https://www.geonet.org.nz/data/tools/FDSN, and first download the mseed file with the command:

the post_input.txt file only have one line:

and then download the response XML file with the command:

Finally I use obspy to remove instrument response and write over as:

[2018-10-11 04:52] baobaohan commented on #160
Some more info update...

I tried to use the java StationXML-converter (maintained by IRIS) to convert the StationXML file into dataless SEED, and use rdseed to extract SAC files with mseed and dataless SEED, and I finally got the station location (lat/lon).

Seems like the problem is from obspy. Any misbehavior I made when I was using obspy?

Best,
Han

[2018-10-12 00:56] francovm commented on #160
Hi Han,

Regarding the ObsPy problem,  when you download the data and write it as a SAC file, the
attribute dictionary isn't generated automatically. That is to say, the waveform data you have does not know its station coordinates as they are not stored in the MiniSEED file served by the FDSN web server, so the SAC header is not added.

You can populate this yourself fairly easily though.

[code]

[2018-10-12 03:53] baobaohan commented on #160
Hi Franco,

Thanks for your help. I got it. Really appreciate that.

Best,
Han

[2018-10-14 20:32] #160 closed

[2018-10-14 20:34] francovm commented on #154
Dear Bertrand,

I apologize for the late response, we already sorted out the bug related with this problem.

If you have further queries, we’ll be happy to assist

Thanks,

Franco

[2018-10-14 20:34] #154 closed

[2018-10-14 20:35] #147 closed

[2019-01-09 23:21] JonoHanson opened #167 "user support request from Jamie Gurney"
Jamie emailed the GeoNet archive with

From: UK EQ <ukeq_bulletin@yahoo.com>
Sent: Thursday, 10 January 2019 10:38 AM
To: info@geonet.org.nz
Subject: Seismic Waveform Data Query - ObsPy

Hi there,

I am using ObsPy & FDSN clients to access waveform data from your seismograph stations. I have found the real-time stations using the IRIS client (ODZ, RPZ, KHZ, QRZ, BFZ, BKZ, HIZ, URZ & OUZ) & I am aw

[2019-01-09 23:22] JonoHanson commented on #167
I answered with

Hello Jamie,

We provide data for the most recent 8 days through our FDSN-near real time client, about which information can be found here

https://www.geonet.org.nz/data/tools/FDSN

And I think your problem will be solved is you take a look at some of the worked python examples available on there at

https://github.com/GeoNet/fdsn/tree/master/examples

and specifically the follow

[2019-01-09 23:22] #167 closed

[2019-02-17 19:33] danieldooley opened #172 "FDSN-NRT Lacking Route Tests"
See Title

[2019-06-12 03:17] gclitheroe commented on #120
This service would need removing as part of adding the groupcache pkg and removing the use of RDS.

I think this data should be sent to fdmp some other process (if it's still required).

[2019-06-12 03:19] gclitheroe commented on #114
Done.  Closing.

[2019-06-12 03:19] #114 closed

[2019-06-12 04:07] gclitheroe commented on #74
This will no longer be relevant when ram cache pkgs etc are used.

[2019-06-12 05:26] gclitheroe commented on #70
Done (based on the above comment)

[2019-06-12 05:26] #70 closed

[2019-06-12 05:27] #68 closed

[2019-06-12 05:27] #10 closed

[2019-08-07 00:18] danieldooley opened #179 "Comprehensive logging for FDSN and FDSN-NRT"
As part of recent performance issues we've realised that we aren't able to see the contents of POST requests in the HTTP logs for FDSN and FDSN-NRT. I think for now the solution is to implement logging at the application level for ALL requests. Mapping IP addresses to the data requested.

Just standard Go logging it fine for now, if cloudwatch isn't an effective place to capture these I'll investi

[2019-08-07 03:56] junghao commented on #179
@danieldooley The post body could be long. Should we truncate it in the log? Say, 2048 chars max.

[2019-08-07 04:02] danieldooley commented on #179
The point is to get an idea of the requests being made so we probably want to see all of it to begin with.

[2019-11-19 22:59] danieldooley opened #186 "fdsn-slink-db timing improvement"
Currently `fdsn-slink-db` will miss data if it isn't running, for an update or a crash etc. Could we potentially set it up to either get the last record time from the database and request data from then or just set it to request data from a few minutes before its start.

We'd also need to check that the DB operations are idempotent and a record being inserted twice won't have any adverse effects (

[2019-11-26 20:08] #179 closed

[2019-12-12 20:14] danieldooley commented on #186
Looks like work was done.

[2019-12-12 20:14] #186 closed

[2020-01-15 21:28] #86 closed

[2020-01-15 21:31] #172 closed

[2020-04-06 04:07] sue-h-gns commented on #7
@nbalfour  do you know if there are any outstanding issues regarding the FDSN service, or can we close this old issue

[2020-04-20 23:45] nbalfour commented on #7
@sue-h-gns I think this is being worked on elsewhere and is captured in this ticket https://github.com/GeoNet/tickets/issues/5138
So, in my opinion we should close this ticket.

[2020-04-20 23:54] #7 closed

[2020-07-26 21:54] ddempsey opened #192 "Why would nrt service drop off from time to time?"
Hi all,

I have an application that regularly requests new data for a particular GeoNet station (WIZ) using either the regular or nrt service. Usually, the nrt service has data up to 20 or 30 minutes behind real time which is perfect. However, I've noticed with this station that every week or so it falls behind. For example, right now (10am 27-07-2020 NZ time) the nrt service is about 14 hours beh

[2020-10-07 07:49] junghao commented on #124
@nbalfour Started from Jul/2019, we have this metric available.

[2020-10-28 04:09] junghao opened #199 "Comma separated lists parameters"
Queries like this
[code]
Should get result with location 10 and 20. But now it's failing.

FDSN specification:
- network RequiredSelect one or more network codes. Can be SEED network codes or data center defined codes. **Multiple codes are comma-separated**.
- station Required Select one or more SEED station codes. Multiple codes are comma-separated.
- location Required Select one or more SEED loc

[2020-10-29 21:04] salichon commented on #199
FYI @rumachan

[2020-11-02 02:49] #199 closed

[2021-01-26 02:33] salichon commented on #192
Hi @ddempsey
Will  follow up on this
Does it still occur for WIZ ?
This might be related to  data transmission delay - Also since this site is less closely maitained with regards to their position on white island, this might occur periodically also these days.

Besides,  a lot of effort has been put to improve the FDSN  service end 2020,  this could have helped a bit too

thanks for your feedback,

[2021-03-25 19:00] salichon commented on #192
Kia Ora @ddempsey
Are you still affected by some sort of drop off on the fdsn-nrt ?
We are always interest in some feed back, thanks.
If not  I  propose to close this ticket
cheers
regards
jerome

[2021-03-25 19:11] ddempsey commented on #192
Thanks for the follow up, Jerome. I came up with a workaround so haven't been suffering any issues, nor can I say if the underlying issue still exists since your improvements. Probably a good idea to close. Cheers

[2021-03-25 19:11] #192 closed

[2021-03-30 21:53] segburg opened #211 "Events missing from quakesearch"
Hi, I noticed that some earthquakes obtained through a fdsn request were missing from the quakesearch result when using the same criteria. The discrepancy seems to kick in from 2015 (see attachment). I extracted earthquakes of M2+ and regional boundaries 163.,-50,183,-32 starting in 2000.

Looping over the years, my quakesearch was:
curl -o quake-M2+${t1}-${t2}.csv 'https://quakesearch.geonet.org.

[2021-03-30 22:04] segburg opened #212 "fdsn search with radius doesn't return earthquakes East of 180 degrees of longitude"
The fdsn event search doesn't allow for a  region defined with a radius to cross the 180 longitude.
For example a search centred around -37.0,179.4 and a radius of 1.5 only returns earthquakes West of 180 degrees of longitude:

wget --output-document='cat_phase_geonet_2021-03-30.xml' 'http://service.geonet.org.nz/fdsnws/event/1/query?format=xml&starttime=2021-03-30&latitude=-37.0&longitude=179.4&m

[2021-04-21 11:57] filefolder commented on #212
came here to report a similar (the same?) problem... nothing west of 180 showing up and including minlon/maxlon with rectangle searches seem to produce jarbled server responses.

[code]
FDSNBadRequestException: Bad request. If you think your request was valid please contact the developers.
HTTP Status code: 400
Detailed response of server:

JJLQ(J-,M-.RK,)MIUQ503R543@</

(strange response! same th

[2021-04-29 03:39] bpeng commented on #211
I had a quick check, seems the missing quakes are either `deleted` or outside the `bbox`,  **QuakeSearch** doesn't return deleted quakes while fdsn may not have that condition.
@segburg  @sue-h-gns

[2021-04-29 21:28] segburg commented on #211
1. Would you be able to investigate whether fdsn includes earthquakes that were entirely deleted? This is important to know as our earthquake catalogue needs to be complete and shouldn't include extra events. Which search should I trust?

2. Can you explain why some of the earthquakes would be outside the bounding box when the defined bounding box was the same in the quakesearch and the fdsn searc

[2021-05-02 23:07] salichon commented on #211
@segburg Kia Ora
**_ QuakeSearch doesn't return deleted quakes_** --> yeap cos they are not quakes :) Quake serach is only made for the earthquakes so it s a service that is providing a subset of the large "events" data set

[2021-05-10 04:17] CallumNZ opened #215 "Memory usage"
Reference: https://github.com/GeoNet/fdsn/pull/213

Do a memory profile on the referenced handler, to see if there's any improvements that can be made, particularly when dealing with large POST requests.

[2021-07-12 01:55] junghao commented on #215
We'll re-open this ticket whenever needed.

[2021-07-12 01:55] #215 closed

[2021-08-26 12:39] omrivolk opened #219 "Query phase arrival times"
Hi I routinely query waveforms from the fdsn service and run pickers on them. It would be nice to compare to GeoNet's picks if those are public. Is it possible to query phase arrival times using the fdsn service? or another way?

Thanks

[2021-08-26 14:00] #219 closed, assigned to nobody

[2021-09-26 20:07] junghao commented on #212
The fix has deployed.

[code]

[2021-09-26 20:08] #212 closed

[2021-12-05 20:42] salichon commented on #211
- List of missing EQ form Dev-team  for record  and future investigation.
[MissingFDSN2QsearchEq.xlsx](https://github.com/GeoNet/fdsn/files/7656788/MissingFDSN2QsearchEq.xlsx)
[MissingFDSN2QsearchEq.xlsx](https://github.com/GeoNet/fdsn/files/7656789/MissingFDSN2QsearchEq.xlsx)

[2021-12-06 02:43] AdrianBenson opened #223 "Data aged 7-14 days not available from FDSN service"
I am seeing a gap in data availabilty via FDSN.

Data < 7days age are available via https://service-nrt.geonet.org.nz as expected
Data > 14 days are available via https://service.geonet.org.nz as expected
Data 7-14 days age (approx)  are not available from either

I have run tests on a variety of sations/channels/data etc. and a none are available.
I have a continuously running process that reques

[2021-12-06 20:48] ozym commented on #223
@AdrianBenson could you run these checks again, just working through a disk issue.

[2021-12-06 21:59] AdrianBenson commented on #223
@ozym Just ran tests for 23-30. Data were returned OPZ

[code]
However tests for EYWM are patchy at best

[code]
- Data 2021-11-25--26 are complete
- Data 2021-11-27-30 are all over the place E.g.

[code]

[2021-12-08 23:58] AdrianBenson opened #224 "Data requests to service-nrt return incomplete/truncated data"
Hi

Data requests to https://service-nrt.geonet.org.nz/fdsnws/dataselect/1 return data that do not properly reflect `starttime` & `endtime` query parameters.  Data payload only includes minseed packets that
 - start after `starttime`
 - end before `endtime`

The result is a data file that is truncated at either end (ex 1).  It is possible to create a valid query that return nothing (ex 2) .

This

[2021-12-09 03:14] junghao commented on #224
Service-nrt.geonet.org.nz's data service is not following the conclusion made before https://github.com/GeoNet/fdsn/issues/140 (though this was station service).

[2021-12-17 03:20] sue-h-gns commented on #211
@salichon please take a look at my version, as it allows you to remove the deleted quakes.
Several are also "outside of network interest) there are only 6 in this list that may be an issue. I will look into this further
[MissingFDSN2QsearchEq.xlsx](https://github.com/GeoNet/fdsn/files/7731869/MissingFDSN2QsearchEq.xlsx)

[2021-12-20 22:30] sue-h-gns commented on #223
@salichon, I believe Mark fixed this (it was a full disk I believe), can you please confirm and close, or let us know what further action needs to be taken?

[2021-12-20 23:55] sue-h-gns commented on #211
Quakes are deleted or outside of network interest.

[2021-12-20 23:55] #211 closed

[2021-12-21 23:19] salichon commented on #223
@AdrianBenson have you been trhough this yet ?
If it ll all sorted please inform here or report any  continuing issues,
thanks!
Jjerome

[2022-01-25 22:50] stuartmead commented on #223
Tagging onto this, it appears as if data ~10 days age is not available through service.geonet.org.nz. I have checked a variety of stations for 15 January and come up empty. Is this a similar issue?

[2022-01-26 10:47] ozym commented on #223
Yes, a similar issue but a different cause. The system is busy working through the backlog of processing, which I expect to be done in the next few hours.

[2022-02-23 03:07] sue-h-gns commented on #223
NRT service now giving 8 days of data, so overlap should prevent this issue in the future

[2022-02-23 03:07] #223 closed

[2022-03-21 23:52] AdrianBenson commented on #224
From the end user perspective this issue has been resolved

[2022-05-02 04:08] #224 closed

[2022-08-04 02:14] segburg opened #230 "Lost event information during conversion from SC3ML to QuakeML"
Here is an instance where all picks, arrivals, amplitudes, magnitudes,... were lost during the conversion from Seiscomp3ML to QuakeML. I can't attach the xml files but here is what I entered in the browser line:
https://service.geonet.org.nz/fdsnws/event/1/query?eventid=2019p431888
http://seiscompml07.s3-website-ap-southeast-2.amazonaws.com/2019p431888.xml

[2022-08-04 04:01] salichon commented on #230
Hi @segburg thanks for this
Is there more than this one-off  case ?
The origin might be somewhere around these geonet  repos:
_seiscompml-to-quakeml_
OR
_fdsn)_
Although need confirmation which is the one active  (most likely the latest fdsn)

The original sc3xml for this event is truncated from detailed information in its quakexml form.

@junghao Can you reproduce the quakeml  truncation and trac

[2022-08-04 04:04] salichon commented on #230
the information content of the page looks ok  as  opposed to the quakeml file. https://www.geonet.org.nz/earthquake/technical/2019p431888

[2022-08-04 04:32] segburg commented on #230
I am sure that I have encountered a few f this kind, but I have lost track of the publicids. Often just the amplitudes are missing instead. It seems to be something particular about this sc3xml that doesn't get converted properly, but what?

[2022-08-07 20:03] segburg commented on #230
Another event file having lost all info https://service.geonet.org.nz/fdsnws/event/1/query?eventid=2014p231806
compared to the seiscomp3ML  http://seiscompml07.s3-website-ap-southeast-2.amazonaws.com/2014p231806.xml